language: python
python:
  - 3.5
  - 3.8
env:
  matrix:
    - TOXENV=django22
  global:
    - DOCKER_USERNAME=edxbuilder
    # encrypted DOCKER_PASSWORD
    - secure: Ed1AxKcQLsLUXWkYXSMOdWc1SFye55l4T+Bixmjnye133z13NunqlIjvlCMWGgbGdN8e0c5JYAC4/mbqg864BKbJzgYMRiq68JCyrvvA3OjlLJm5eIVvjsY9Jhd4Zm044umIe7Q3zndxHm5jBjIbJ0lhB12I/H27r5zOI/TZOkFG2pv8WXi877A/fOFrdMDiwvfofyxPGG9sm6wN5zHUA+wZVa9l7+VVvz2iBNT5rKFwKnM2RKqDkyJ/pk4Y9ISHlMLiUgTXa7i0gdncAeFuxiwlT3P1M539fzMcOpqa0HFmV9hf6OrW1KAGw9bPSvtvYfV5YDh4bV6MUx6thf2YQZVyn8qYnhMqWgEfl8z31T8Lhdro+K8QjmiwhAfLOsgxj+PNWG4SGH3NfJe9uLn2VtJ2Pi1uxpfF5Wf65V7p9hBdAwgla95XO66slMemRH3G1F4GnHDthb2mLpx0Jr0EgEH6Ck9BMcWjdrT2dsH5cvYtEp+UZyLmiouLomT5C7U+r6LOPheGMsK4Ei5FJCYh8lsmIaCjjvN7uRimHEaeXWH6gDQUGeUhr6HPTNMxgppdT3Az4UXWvQmAbXzf9rOPgN0qxgL2sKHGntOr3ehxfKc522lqowKyD3HZCpz01jEUCP4jxIYlWm9htZPjyo5ITNh5cJqWx6nAsdKQDeGsOdA=

script:
  - make test
matrix:
  include:
    - env: TESTNAME=quality
      script:
        - make quality
        - make pii_check
    - env: TESTNAME=translations
      script:
        - make validate_translations
sudo: false
branches:
  only:
  - master
cache: pip
install:
- pip install -U pip wheel codecov
- make requirements
after_success:
- codecov
deploy:
  provider: script
  script: make travis_docker_push
  on:
    branch: master
