version: "2.1"
services:
  mysql:
    image: mysql:5.6
    container_name: enterprise.catalog.mysql
    environment:
      MYSQL_ROOT_PASSWORD: ""
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
      MYSQL_DATABASE: "enterprise_catalog"
    networks:
      - devstack_default
    volumes:
      - enterprise_catalog_mysql:/var/lib/mysql
    # Uncomment these lines to access the database from localhost
    # ports:
    #  - "3307:3306"

  redis:
    image: "redis:alpine"

  enterprise_catalog:
    # Uncomment this line to use the official catalog base image
    # image: edxops/enterprise_catalog:devstack
    build:
      context: .
      dockerfile: Dockerfile
    container_name: enterprise.catalog.app
    volumes:
      - .:/edx/app/enterprise_catalog
      - ../src:/edx/src:cached
    command: bash -c 'while true; do python /edx/app/enterprise_catalog/manage.py runserver 0.0.0.0:8160; sleep 2; done'
    ports:
      - "8160:8160"
    depends_on:
      - mysql
      - redis
    networks:
      - devstack_default
    # Allows attachment to this container using 'docker attach <containerID>'.
    stdin_open: true
    tty: true
    user: root
    environment:
      DJANGO_SETTINGS_MODULE: enterprise_catalog.settings.devstack
      ENABLE_DJANGO_TOOLBAR: 1

  celery:
    # Uncomment this line to use the official catalog base image
    # image: edxops/enterprise_catalog:devstack
    build:
      context: .
      dockerfile: Dockerfile
    container_name: enterprise.catalog.celery
    volumes:
      - .:/edx/app/enterprise_catalog
      - ../src:/edx/src:cached
    command: celery -A enterprise_catalog worker -l info
    depends_on:
      - mysql
      - redis
    networks:
      - devstack_default
    # Allows attachment to this container using 'docker attach <containerID>'.
    stdin_open: true
    tty: true
    user: root
    environment:
      DJANGO_SETTINGS_MODULE: enterprise_catalog.settings.devstack
      ENABLE_DJANGO_TOOLBAR: 1

networks:
  devstack_default:
    external: true

volumes:
  enterprise_catalog_mysql:
