services:
  mysql:
    image: mysql:8.0.28-oracle
    container_name: enterprise.catalog.mysql
    environment:
      MYSQL_ROOT_PASSWORD: ""
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
      MYSQL_DATABASE: "enterprise_catalog"
    networks:
      - devstack_default
    volumes:
      - enterprise_catalog_mysql8:/var/lib/mysql
    # Uncomment these lines to access the database from localhost
    # ports:
    #  - "3307:3306"

  memcached:
    image: memcached:1.6.6
    container_name: enterprise.catalog.memcached
    networks:
      - devstack_default
    command: memcached -vv

  app:
    image: edxops/enterprise-catalog-dev
    container_name: enterprise.catalog.app
    hostname: app.catalog.enterprise
    working_dir: /edx/app/enterprise_catalog/enterprise_catalog
    volumes:
      - .:/edx/app/enterprise_catalog/enterprise_catalog
      - ../src:/edx/src:cached

    # Use the Django devserver, so that we can hot-reload code changes
    command: bash -c 'while true; do python /edx/app/enterprise_catalog/enterprise_catalog/manage.py runserver 0.0.0.0:18160; sleep 2; done'
    ports:
      - "18160:18160"
    depends_on:
      - memcached
      - mysql
      - worker
    networks:
      - devstack_default
    # Allows attachment to this container using 'docker attach <containerID>'.
    stdin_open: true
    tty: true
    environment:
      CELERY_ALWAYS_EAGER: 'false'
      CELERY_BROKER_TRANSPORT: redis
      CELERY_BROKER_HOSTNAME: edx.devstack.redis:6379
      CELERY_BROKER_VHOST: 0
      CELERY_BROKER_PASSWORD: password
      DJANGO_SETTINGS_MODULE: enterprise_catalog.settings.devstack
      ENABLE_DJANGO_TOOLBAR: 1

  worker:
    image: edxops/enterprise-catalog-dev
    command: bash -c 'cd /edx/app/enterprise_catalog/enterprise_catalog && celery -A enterprise_catalog worker -Q enterprise_catalog.default -l DEBUG'
    container_name: enterprise.catalog.worker
    depends_on:
      - mysql
    environment:
      CELERY_ALWAYS_EAGER: 'false'
      CELERY_BROKER_TRANSPORT: redis
      CELERY_BROKER_HOSTNAME: edx.devstack.redis:6379
      CELERY_BROKER_VHOST: 0
      CELERY_BROKER_PASSWORD: password
      DJANGO_SETTINGS_MODULE: enterprise_catalog.settings.devstack
      COLUMNS: 80
    hostname: worker.catalog.enterprise
    working_dir: /edx/app/enterprise_catalog/enterprise_catalog
    networks:
      - devstack_default
    ports:
      - "18161:18161"
    restart: always
    # Allows attachment to this container using 'docker attach <containerID>'.
    stdin_open: true
    tty: true
    volumes:
      - .:/edx/app/enterprise_catalog/enterprise_catalog

  curations_worker:
    image: edxops/enterprise-catalog-dev
    command: bash -c 'cd /edx/app/enterprise_catalog/enterprise_catalog && celery -A enterprise_catalog worker -Q enterprise_catalog.curations -l DEBUG'
    container_name: enterprise.catalog.curations
    depends_on:
      - mysql
    environment:
      CELERY_ALWAYS_EAGER: 'false'
      CELERY_BROKER_TRANSPORT: redis
      CELERY_BROKER_HOSTNAME: edx.devstack.redis:6379
      CELERY_BROKER_VHOST: 0
      CELERY_BROKER_PASSWORD: password
      DJANGO_SETTINGS_MODULE: enterprise_catalog.settings.devstack
      COLUMNS: 80
    hostname: curations.catalog.enterprise
    working_dir: /edx/app/enterprise_catalog/enterprise_catalog
    networks:
      - devstack_default
    ports:
      - "18162:18162"
    restart: always
    # Allows attachment to this container using 'docker attach <containerID>'.
    stdin_open: true
    tty: true
    volumes:
      - .:/edx/app/enterprise_catalog/enterprise_catalog

networks:
  devstack_default:
    external: true

volumes:
  enterprise_catalog_mysql8:
