version: "2.1"
services:
  mysql:
    image: mysql:5.6
    container_name: enterprise.catalog.mysql
    environment:
      MYSQL_ROOT_PASSWORD: ""
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
      MYSQL_DATABASE: "enterprise_catalog"
    volumes:
      - enterprise_catalog_mysql:/var/lib/mysql
    # Uncomment these lines to access the database from localhost
    # ports:
    #  - "3307:3306"

  app:
    # Uncomment this line to use the official catalog base image
    # image: edxops/enterprise_catalog:devstack
    build:
      context: .
      dockerfile: Dockerfile
    container_name: enterprise.catalog.app
    hostname: app.catalog.enterprise
    volumes:
      - .:/edx/app/enterprise_catalog/enterprise_catalog
      - ../src:/edx/src:cached
    # This should be the same as the `CMD` in the devapp build stage
    # of the Dockerfile
    command: bash -c 'gunicorn --reload --workers=2 --name enterprise_catalog -b :18160 -c /edx/app/enterprise_catalog/enterprise_catalog/enterprise_catalog/docker_gunicorn_configuration.py --log-file - --max-requests=1000 enterprise_catalog.wsgi:application'
    ports:
      - "18160:18160"
    depends_on:
      - mysql
      - worker
      - hack-lms
      - hack-discovery
    # Allows attachment to this container using 'docker attach <containerID>'.
    stdin_open: true
    tty: true
    environment:
      CELERY_ALWAYS_EAGER: 'false'
      CELERY_BROKER_TRANSPORT: redis
      CELERY_BROKER_HOSTNAME: edx.devstack.redis:6379
      CELERY_BROKER_VHOST: 0
      CELERY_BROKER_PASSWORD: password
      DJANGO_SETTINGS_MODULE: enterprise_catalog.settings.devstack
      ENABLE_DJANGO_TOOLBAR: 1

  worker:
    build:
      context: .
      dockerfile: Dockerfile
    command: bash -c 'cd /edx/app/enterprise_catalog/enterprise_catalog && celery -A enterprise_catalog worker -l DEBUG'
    container_name: enterprise.catalog.worker
    depends_on:
      - mysql
    environment:
      CELERY_ALWAYS_EAGER: 'false'
      CELERY_BROKER_TRANSPORT: redis
      CELERY_BROKER_HOSTNAME: edx.devstack.redis:6379
      CELERY_BROKER_VHOST: 0
      CELERY_BROKER_PASSWORD: password
      DJANGO_SETTINGS_MODULE: enterprise_catalog.settings.devstack
    hostname: worker.catalog.enterprise
    ports:
      - "18161:18161"
    restart: always
    # Allows attachment to this container using 'docker attach <containerID>'.
    stdin_open: true
    tty: true
    volumes:
      - .:/edx/app/enterprise_catalog/enterprise_catalog

  ####################################
  # HACKS FOR DEVSTACK 2.0 SPIKE
  ####################################

  hack-lms:
    command: bash -c 'source /edx/app/edxapp/edxapp_env && while true; do python /edx/app/edxapp/edx-platform/manage.py lms runserver 0.0.0.0:18000 --settings devstack_docker; sleep 2; done'
    container_name: edx.devstack.lms
    hostname: lms.devstack.edx
    depends_on:
      - hack-mysql
      - hack-memcached
    stdin_open: true
    tty: true
    environment:
      NO_PYTHON_UNINSTALL: 1
      NO_INSTALL_PREREQS: 1
      DJANGO_WATCHMAN_TIMEOUT: 30
      DJANGO_SETTINGS_MODULE: lms.envs.devstack
    image: edxops/edxapp:latest
    ports:
      - "18000:18000"
    volumes:
      - edxapp_lms_assets:/edx/var/edxapp/staticfiles/

  hack-discovery:
    container_name: edx.devstack.discovery
    hostname: discovery.devstack.edx
    depends_on:
      - hack-mysql
      - hack-elasticsearch
      - hack-memcached
    stdin_open: true
    tty: true
    environment:
      TEST_ELASTICSEARCH_URL: "http://edx.devstack.elasticsearch:9200"
      DJANGO_WATCHMAN_TIMEOUT: 30
    image: kyle-course-discovery:latest
    ports:
      - "18381:18381"
    volumes:
      - discovery_assets:/edx/var/discovery/

  hack-mysql:
    command: mysqld --character-set-server=utf8 --collation-server=utf8_general_ci
    container_name: edx.devstack.mysql
    hostname: mysql.devstack.edx
    environment:
      MYSQL_ROOT_PASSWORD: ""
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
    image: mysql:5.6
    volumes:
      - mysql_data:/var/lib/mysql

  hack-memcached:
    container_name: edx.devstack.memcached
    hostname: memcached.devstack.edx
    image: memcached:1.5.10-alpine

  hack-elasticsearch:
    container_name: edx.devstack.elasticsearch
    hostname: elasticsearch.devstack.edx
    image: edxops/elasticsearch:devstack
    volumes:
      - elasticsearch_data:/usr/share/elasticsearch/data
      - elasticsearch_data:/usr/share/elasticsearch/logs


  ####################################
  # END HACKS
  ####################################

volumes:
  enterprise_catalog_mysql:
  edxapp_lms_assets:
  discovery_assets:
  elasticsearch_data:
  mysql_data:
