name: Django CI

on:
  push:
    branches: [master]
  pull_request:

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.12']
        django-version: [django42]

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
        architecture: x64
    - name: Start container
      run: |
        docker compose -f .github/docker-compose-github.yml up -d
    - name: Install test dependencies and run validation
      run: |
        docker exec -e TOXENV=py312-${{ matrix.django-version }} -u root enterprise.catalog.app /edx/app/enterprise_catalog/enterprise_catalog/validate.sh
    - name: Code Coverage
      if: matrix.python-version == '3.12' && matrix.django-version=='django42'
      uses: codecov/codecov-action@v1
